@charset "UTF-8";
.myGame.mintSpecial {
  background-image: url("../../containers-game/map/assets/map.jpg");
}

@media screen and (max-width: 1000px) {
  .myGame.mintSpecial {
    overflow: inherit;
  }
}

.title.mintSpecial {
  font-size: 2.4rem !important;
}

.scroll-content.mintSpecial {
  height: 670px !important;
}

@media screen and (max-width: 1000px) {
  .scroll-content.mintSpecial {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100% !important;
    overflow-x: hidden;
    padding: 0 !important;
  }
}

.page-content.mintContainer .backToListings {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 3.5rem;
  background: -webkit-linear-gradient(#dac7a9, #ccbead);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-filter: drop-shadow(1px 2px 5px black);
          filter: drop-shadow(1px 2px 5px black);
  cursor: pointer;
}

.page-content.mintContainer .backToListings:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media screen and (max-width: 1000px) {
  .page-content.mintContainer .backToListings {
    z-index: 10;
    top: -8px;
    left: 2px;
    font-size: 2.3rem;
  }
}

.page-content.mintContainer.mintSpecial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 55px;
  z-index: 10;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

@media screen and (max-width: 1000px) {
  .page-content.mintContainer.mintSpecial {
    min-height: calc(100vh - 185px);
  }
}

.page-content.mintContainer.mintSpecial .mintListings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: auto;
  max-height: calc(100vh - 170px);
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintListings {
    height: calc(100vh - 170px);
    max-width: 100vw;
    padding: 5px;
    padding-top: 0;
  }
}

.page-content.mintContainer.mintSpecial .mintListings .mintListing {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  width: 350px;
  border-radius: 8px;
  -webkit-box-shadow: 8px 5px 10px #161615;
          box-shadow: 8px 5px 10px #161615;
  margin: 30px;
  cursor: pointer;
  background-image: url("../../assets-ui/ui-borders.webp");
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-box-shadow: 2px 2px 10px #f9e99789;
          box-shadow: 2px 2px 10px #f9e99789;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintListings .mintListing {
    height: 200px;
    width: 150px;
    margin: 15px;
  }
}

.page-content.mintContainer.mintSpecial .mintListings .mintListing .listingName {
  width: 100%;
  text-align: center;
  background-color: #121212d5;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
  padding: 15px 0;
  font: normal bold 2rem Optimus;
  background: -webkit-linear-gradient(#ffffff, #f9e997);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintListings .mintListing .listingName {
    font-size: 1rem;
  }
}

.page-content.mintContainer.mintSpecial .mintListings .mintListing .listingImg {
  position: absolute;
  top: 53px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 350px;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintListings .mintListing .listingImg {
    top: 35px;
    -webkit-filter: inherit;
            filter: inherit;
    height: 150px;
    width: 150px;
  }
}

.page-content.mintContainer.mintSpecial .mintListings .mintListing .listingInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 0;
}

.page-content.mintContainer.mintSpecial .mintListings .mintListing .listingInfo .listingPrice {
  font: 1.2rem normal Cinzel;
  background: -webkit-linear-gradient(#ffffff, #f9e997);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintListings .mintListing .listingInfo .listingPrice {
    margin-bottom: 0;
    margin-left: 5px;
    z-index: 2;
    font-size: 0.6rem;
    padding: 3px;
  }
}

.page-content.mintContainer.mintSpecial .mintListings .mintListing .listingInfo .listingShowBtn {
  display: none;
  font: 1.4rem normal Raleway;
  color: black;
  background-color: #FFB13B;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintListings .mintListing .listingInfo .listingShowBtn {
    display: none;
  }
}

.page-content.mintContainer.mintSpecial .mintListings .mintListing .listingInfo .listingShowBtn:hover {
  opacity: 0.9;
}

.page-content.mintContainer.mintSpecial .mintListings .mintListing:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 0.9;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.page-content.mintContainer.mintSpecial .mintSelected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .page-content.mintContainer.mintSpecial .mintSelected {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85vh;
    width: 100%;
  }
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 570px;
  width: 500px;
  padding: 30px;
  background-color: #121212d5;
  color: white;
  border-radius: 8px;
  -webkit-box-shadow: 8px 5px 10px #161615;
          box-shadow: 8px 5px 10px #161615;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer {
    padding: 10px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90vw;
  }
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeader .mintSelectedBack {
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeader .mintSelectedBack img {
  border: none;
  width: 25px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeader .mintSelectedBack .disabled {
  opacity: 0.5;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeader .mintSelectedBack:hover {
  opacity: 0.8;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeader h2 {
  font: normal bold 2.8rem Optimus;
  background: -webkit-linear-gradient(#ffffff, #f9e997);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeader h2 {
    font-size: 1.4rem;
  }
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeadlineAndImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeadlineAndImg img {
  width: 90%;
  border-radius: 8px;
  margin-bottom: 15px;
  -webkit-box-shadow: 2px 2px 10px #f9e997;
          box-shadow: 2px 2px 10px #f9e997;
}

@media screen and (max-width: 1000px) {
  .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintSelectedHeadlineAndImg img {
    width: 90%;
  }
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer select {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 38px;
  width: 95%;
  padding: 5px;
  background-color: #161615;
  font: normal normal normal 1rem Raleway;
  border: 0px solid #FFB13B;
  -webkit-box-shadow: 1px 1px 3px #f9e997;
          box-shadow: 1px 1px 3px #f9e997;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#dac7a9, #ccbead);
  -webkit-background-clip: text;
  font: normal 700 1.2rem Optimus;
  color: #f9e997;
  text-align: center;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer select option {
  background-color: #1c1929;
  color: #ccbead;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .listingDesc {
  border: none;
  width: 100%;
  font: normal normal 1.2rem Raleway;
  width: 80%;
  border-bottom: 2px solid #89191d;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .listingDesc {
    display: none;
  }
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .listingDrops {
  font: normal normal 1.2rem Raleway;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .listingDrops .listingDrop {
  margin: 0;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .listingDrops .isNFT {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#cb8f30, #ccbead);
  -webkit-background-clip: text;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .listingDrops {
    padding-left: 15px;
  }
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .listingDrops::before {
  content: 'What you will get';
  margin-bottom: 5px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#dac7a9, #ccbead);
  -webkit-background-clip: text;
  font: normal 700 1.4rem Optimus;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintActions {
  margin-top: 50px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #131218;
  border-radius: 25px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .currentPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 15px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .currentPrice p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .currentPrice .icon-sm {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .currentPrice .textInfo {
  font-size: 0.8rem;
  color: #9a9a9a;
  font-weight: 400;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .backToMethods {
  margin: 10px 12px;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 0.8rem;
  background-color: #3b3843;
  color: #ccbead;
  cursor: pointer;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  padding: 7px 15px;
  background-color: #000000;
  border-radius: 25px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod h3 .icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod .textInfo {
  font-size: 0.6rem;
  color: #9a9a9a;
  margin: 0;
  padding-left: 5px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod .acceptedOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod .acceptedOptions p {
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6rem;
  font-weight: bold;
  border-radius: 20px;
  padding: 4px 10px;
  margin-right: 6px;
  color: #9a9a9a;
  background-color: #312f3a;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod .acceptedOptions p img {
  height: 27px;
  width: 27px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod .acceptedOptions p span {
  padding: 0 5px;
  font-weight: bold;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod:not(.methodSelected)::after {
  content: "➤";
  position: absolute;
  right: 20px;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9a9a9a;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintMethod:not(.methodSelected):hover {
  background-color: #3b3843;
  cursor: pointer;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet .mintQuantity, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice .mintQuantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet .mintQuantity, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice .mintQuantity {
    width: 90%;
  }
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet .mintQuantity input, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice .mintQuantity input {
  height: 26px;
  padding: 7px;
  background-color: #161615;
  text-align: center;
  font: normal normal normal 1.2rem Raleway;
  border: 0px solid #FFB13B;
  outline: none;
  -webkit-box-shadow: 1px 1px 3px #f9e997;
          box-shadow: 1px 1px 3px #f9e997;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#dac7a9, #ccbead);
  -webkit-background-clip: text;
  font: normal 700 2rem Optimus;
  color: #f9e997;
}

@media screen and (max-width: 600px) {
  .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet .mintQuantity input, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice .mintQuantity input {
    width: 90%;
  }
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet .mintQuantity .btnQuantity, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice .mintQuantity .btnQuantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 10px;
  height: 25px;
  width: 25px;
  background-color: #161615;
  font: normal normal normal 1.4rem Raleway;
  border: 0px solid #FFB13B;
  -webkit-box-shadow: 1px 1px 3px #f9e997;
          box-shadow: 1px 1px 3px #f9e997;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#dac7a9, #ccbead);
  -webkit-background-clip: text;
  font: normal 700 1rem Optimus;
  color: #f9e997;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet h3, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet p, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice h3, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice p {
  margin: 5px;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet p.switchNetwork, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice p.switchNetwork {
  text-align: center;
  cursor: pointer;
  color: gainsboro;
  text-decoration: underline;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet p.priceRecap, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice p.priceRecap {
  color: #FFB13B;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet button, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice button {
  height: 45px;
  width: 95%;
  font: normal 700 1.2rem Raleway;
  color: #1c1929;
  -webkit-box-shadow: 2px 2px 10px #635e7d;
          box-shadow: 2px 2px 10px #635e7d;
  margin: 5px auto;
  background-color: #FFB13B;
  text-transform: inherit;
}

.page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .useWallet button:hover, .page-content.mintContainer.mintSpecial .mintSelected .mintSelectedContainer .mintMethods .mintPrice button:hover {
  opacity: 0.9;
}

.page-content.mintContainer.mintSpecial ::-webkit-scrollbar {
  width: 10px;
}

.page-content.mintContainer.mintSpecial ::-webkit-scrollbar-track {
  background: #121212;
}

.page-content.mintContainer.mintSpecial ::-webkit-scrollbar-thumb {
  background: #FFB13B;
}

.page-content.mintContainer.mintSpecial ::-webkit-scrollbar-thumb:hover {
  background: #ffa114;
}

.ancientGold {
  color: #FFB13B;
}

.cursorOnHover:hover {
  cursor: pointer;
  opacity: 0.9;
}
/*# sourceMappingURL=omegamint.css.map */